@font-face {
font-family: 'roboto-regular';
	src: url('./fonts/roboto-regular-webfont.woff') format('woff');
	font-family: 'playfairdisplay-regular';
	src: url('./fonts/playfairdisplay-regular-webfont.woff') format('woff');

}
.row-one input {
	border:0;
	box-sizing: 0;
	border-width: 0;
	outline: none;
	font-size: 36px;
	padding-left: 50px;
	color: #000000;
	font-family: 'playfairdisplay-regular' , sans-serif;
	font-weight: bold;
	width: 100%;	

}

form {
	padding-top: 30px;
}

div p {
	color: #D8D8D8;
	font-family: 'playfairdisplay-regular' , sans-serif;
	padding-left: 50px;
	font-size: 24px;
	margin-top: 10px;

}
.row-two input {
	border:0;
	box-sizing: 0;
	border-width: 0;
	outline: 0;
	font-size: 24px;
	color: #000000;
	padding-left:50px;
	font-family: 'roboto-regular' , sans-serif;
	font-weight: bold;
	width: 100%;
}

.row-two {
	padding-top: 20px;
}
.row-three label {
	padding-left: 50px;
	display: block;
	font-family: 'roboto-regular' , sans-serif;
	font-weight: bold;
	}
.row-three {
	padding-top: 30px;
}
.row-three input {
	display: block;
	margin-left: 50px;
	margin-top: 10px;
	border:none;
	box-sizing: 0;
	border-width: 1px;
	border-color: #D8D8D8;
	border-bottom:1px solid;
	width: 15%;
	transition: width 0.5s ease-in-out;
}

.row-three input:hover {
	border-color: #9B9B9B;
	
}
.row-three input:focus {
	border-color: #4ABDE2;
	outline: 0px;
	width: 25%;

}

.row-four {
	
}
.row-four textarea {
	display: block;
	border-color:#D8D8D8;
	outline: 0;
	resize: none;
	margin-left: 50px;
	margin-top: 10px;

}
.row-four label {
	font-family: 'roboto-regular' , sans-serif;
	font-weight: bold;
	padding-left: 50px;

}
.row-four textarea:hover {
	border-color: #9B9B9B;

}
.row-four textarea:focus {
	border-color: #4ABDE2;

}
button {
	display: inline;
	border-radius: 10px;
	border-color: #4ABDE2;
	color: white;
	font-size: 17px;	
	cursor: pointer;
	background: #4ABDE2;
	font-family: 'roboto-regular' , sans-serif;	
	margin-left: 100px;
	width: 80px;
	height: 40px;

}
button:hover {
	color:black;
	outline: none;
}

#last-row p {
	padding-top: 15px;
	color: #9B9B9B;
	margin-left: 90px;
	font-size: 18px;
}

#last-row a {
	text-decoration: none;
	color: #9B9B9B;
	font-weight: bold;
}